/*------------------------------------------------------FONTS------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);


/*-----------------------------------------HEADER--------------------------------------------------------*/

.logo {
	width:90px;
}
header h1 {
	font-family: 'satisfy', cursive;
	color:#ff827b;
	margin-top:20px;
}
nav li {
	font-size: 20px;

}
li a {
	color:#61aee6;
	font-family: 'open sans';
	font-weight: 400;
}

a:hover {
	color:#ff827b;
}


.bottom {
	top: 20px;
}
/*======================================END OF HEADER======================================================*/


/*======================================JUMBOTRON======================================================*/
.jumbotron {
	background-image:url(../images/hero_1024.jpg);
	background-size:cover;
	background-position:center;
	height:450px;
	margin-top:1em;
}

.jumbotron h2 {
	font-family: 'open sans';
	font-weight:300;
	color:#fff;
}

.bg {
	background-color:lightgray;
	border:solid 5px lightgray;
	padding:10px;
}
.mf {
	padding-right: 0px;
	padding-left: 15px;
}
footer {
	height: 200px;
	background-color: black;
	padding:10px;
}

footer {
	color:white;
}

.big {
	font-size: 5em;
	color:grey;

}

footer a {
	color:grey;
}

.copyright {
	font-size:10px;
	text-align:center;
	color:grey;
}
.small {
	height:100%;
	width:100%;
	text-align:center;
}
.small li {
		display:inline;
		font-size:3em;
		margin:0 20px;
	}

.small ul {
	margin:0 auto;
	padding:0 30px;
}
